<header id="menu" class="navbar">
  <section class="navbar-section">
    <!-- logo -->
  </section>

  <section class="navbar-center">
    <a href="/" class="btn btn-link"> Home </a>
    <a href="/about" class="btn btn-link"> About </a>
    <a href="/projects" class="btn btn-link"> Projects </a>
    <a href="/contact" class="btn btn-link"> Contact </a>
    {{#if isAdmin}}
      <a href="/users" class="btn btn-link"> Users </a>
    {{else}}
    {{/if}}
  </section>
  <section class="navbar-section">
    {{#if isLoggedin}}
      <div>Hi,
        {{name}}! &nbsp; &nbsp;
        <a href="/logout" class="btn btn-link">Logout</a>
      </div>
    {{else}}
      <a href="/login" class="btn btn-link">
        Login</a>
    {{/if}}
  </section>
</header>