<header id="menu" class="navbar">
  <div class="dropdown">
    <div class="btn-group">
      <a href="#" class="btn dropdown-toggle btn-primary" tabindex="0">
        Menu
      </a>
      <ul class="menu btn-primary">
        <div><a href="/" class="btn btn-link dropdown-toggle"> Home </a></div>
        <a href="/about" class="btn btn-link"> About </a>
        <a href="/projects" class="btn btn-link"> Projects </a>
        <a href="/contact" class="btn btn-link"> Contact </a>
        {{#if isAdmin}}
          <a href="/users" class="btn btn-link"> Users </a>
        {{/if}}
      </ul>
    </div>
  </div>
  <section class="navbar-section">
    {{#if isLoggedin}}
      <div>Hi,
        {{name}}! &nbsp; &nbsp;
        <a href="/logout" class="btn btn-link">Logout</a>
      </div>
    {{else}}
      <a href="/login" class="btn btn-link">
        Login</a>
    {{/if}}
  </section>
</header>