<header id="menu" class="navbar">
  <section class="navbar-section">
    <!-- logo -->
  </section>

  <section class="navbar-center">
    <a href="/" class="btn btn-link"> Home </a>
    <a href="/about" class="btn btn-link"> About </a>
    <a href="/contact" class="btn btn-link"> Contact </a>
  </section>
  <section class="navbar-section">
    <a href="/login" class="btn btn-link">
      <img
        src="../../public/img/man.png"
        alt="profil
      "
      />
    </a>
  </section>
</header>