<div id="main">
  <div>
    {{#if isLoggedin}}
      <h1>Add projects</h1>
      <div>
        <form action="/login" method="post" class="form-group">
          <fieldset>
            <label class="form-label " for="pn">Project name</label>
            <input
              class="form-input"
              type="text"
              name="pn"
              id="pn"
              required="required"
            />
            <br />
            <div class="form-group">
              <label class="form-label " for="pd">Project description</label>
              <textarea
                class="form-input"
                rows="3"
                type="text"
                name="pd"
                id="pd"
                required="required"
              />
              </textarea>
            </div>
            <br />
            <input
              class="btn btn-primary input-group-btn"
              type="submit"
              value="Add"
            />

          </fieldset>
        </form>
      </div>
    {{/if}}
    <h1>List of all projects</h1>
    <div class="container">
      <div class="columns">
        {{#each listProjects}}
          <a href="/about/{{id}}" class="text-center">

            <div class="card column">
              <div class="projectName">{{name}}</div>
            </div>
          </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>