<div id="main">
  <div>
    <h1>Contact</h1>
    <div>{{#each contactInformation}}
        {{phone}}
        {{email}}
        <a href="{{linkedin}}">Linkedin</a>
        <a href="{{instagram}}">Instagram</a>
      {{/each}}
    </div>
    <div>

    </div>
  </div>
</div>