<div id="main main-home">
  <div>
    <div class="img-home">
      <div class="intro-text-home text-center">

        <div class="text-home">
          Welcome
          {{#if isLoggedin}}
            {{name}}
          {{/if}}
        </div>
      </div>
    </div>
    <div class="content-home"></div>
  </div>
</div>