<div id="main">

  <!-- <input type="text" id="userName-login" />
      <input type="text" id="passwords" />
      <input type="button" id="btn-login" value="Login" />

      Create use!
      <input type="text" id="userName-create" placeholder="username" />
      <input type="text" id="userPassword-create" placeholder="password" />
      <input type="button" value="Create account" />

      <div>users</div>
      {{#each listUsers}}
        <div>
          -
          {{id}}:
          <a href="/about/{{id}}">
            {{userName}}
            {{userPassword}}
          </a>
        </div>
      {{/each}} -->

  <div>
    <h1>Log in</h1>
    <div>
      <form action="/login" method="post">
        <fieldset>
          <label for="un">Username: </label>
          <input type="text" name="un" id="un" required="required" />
          <br />
          <label for="pw">Password: </label>
          <input type="password" name="pw" id="pw" required="required" />
          <br />
        </fieldset>
        <input type="submit" value="Login" />
      </form>

    </div>

  </div>

</div>