<div id="main">
  <div class="container">
    <div class="columns">
      <div class="column col-5 col-md-12">
        <h1>Log in</h1>
        <div>
          <form action="/login" method="post">
            <fieldset>
              <label class="form-label" for="userName">Username</label>
              <input
                class="form-input"
                type="text"
                name="userName"
                id="userName"
              />
              <br />
              <label class="form-label" for="userPassword">Password</label>
              <input
                class="form-input"
                type="password"
                name="userPassword"
                id="userPassword"
              />
              <br />
            </fieldset>
            <input
              class="btn btn-primary input-group-btn"
              type="submit"
              value="Login"
            />
          </form>
        </div>
      </div>
      <div class="divider-vert text-center" data-content="OR"></div>
      <br />
      <div class="column col-5 col-md-12">
        <h1>Create Account</h1>
        <div>
          <form action="/create-account" method="post">
            <fieldset>
              <div class="">
                <label class="form-label" for="firstName">First name</label>
                <input
                  class="form-input"
                  type="text"
                  name="firstName"
                  id="firstName"
                />
                <br />
                <label class="form-label" for="lastName">Last name</label>
                <input
                  class="form-input"
                  type="text"
                  name="lastName"
                  id="lastName"
                />
                <br />
              </div>
              <div class="">
                <label class="form-label" for="createUserName">Username</label>
                <input
                  class="form-input"
                  type="text"
                  name="createUserName"
                  id="createUserName"
                />
                <br />
                <label
                  class="form-label"
                  for="createUserPassword"
                >Password</label>
                <input
                  class="form-input"
                  type="password"
                  name="createUserPassword"
                  id="createUserPassword"
                />
                <br />
              </div>
              <label class="form-label" for="userEmail">Email</label>
              <input
                class="form-input"
                type="text"
                name="userEmail"
                id="userEmail"
              />
              <br />
            </fieldset>
            <input
              class="btn btn-primary input-group-btn"
              type="submit"
              value="Create Account"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>