<div id="main">
  <div class="container">
    <div class="columns">
      <div class="column col-6 col-md-12">
        <h1>Log in</h1>
        <div>
          <form action="/login" method="post">
            <fieldset>
              <label class="form-label" for="un">Username</label>
              <input
                class="form-input"
                type="text"
                name="un"
                id="un"
                required="required"
              />
              <br />
              <label class="form-label" for="pw">Password</label>
              <input
                class="form-input"
                type="password"
                name="pw"
                id="pw"
                required="required"
              />
              <br />
            </fieldset>
            <input
              class="btn btn-primary input-group-btn"
              type="submit"
              value="Login"
            />
          </form>

        </div>

      </div>
      <div class="column col-6 col-md-12">
        <h1>Create Account</h1>
        <div>
          <form action="/login" method="post">
            <fieldset>
              <label class="form-label" for="un">Username</label>
              <input
                class="form-input"
                type="text"
                name="un"
                id="un"
                required="required"
              />
              <br />
              <label class="form-label" for="pw">Password</label>
              <input
                class="form-input"
                type="password"
                name="pw"
                id="pw"
                required="required"
              />
              <br />
            </fieldset>
            <input
              class="btn btn-primary input-group-btn"
              type="submit"
              value="Login"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>