<div id="main">
  <div class="text-center">
    <h1>New project</h1>
    <div>
      {{#if isLoggedin}}
        {{#if isAdmin}}
          <form action="/projects/new" method="post">
            <fieldset>
              <label class="form-label" for="projectName">Project name</label>
              <input
                class="form-input p-centered form-input-sm"
                type="text"
                name="projectName"
                id="projectName"
                required="required"
              />
              <br />
              <label class="form-label" for="projectDate">Project date</label>
              <input
                class="form-input p-centered form-input-sm"
                type="text"
                name="projectDate"
                id="projectDate"
                placeholder="year"
                value="20"
                required="required"
              />
              <br />
              <label class="form-label" for="projectDescription">Project
                description
              </label>
              <textarea
                class="form-input p-centered form-input-sm"
                name="projectDescription"
                id="projectDescription"
                cols="50"
                rows="3"
                required="required"
              ></textarea>
              <br />
              <label class="form-label" for="projectImage">Project image URL
              </label>
              <input
                class="form-input p-centered form-input-sm"
                type="text"
                name="projectImage"
                id="projectImage"
                placeholder="../img/"
                required="required"
              />
            </fieldset>
            <input
              class="btn btn-primary input-group-btn"
              type="submit"
              value="Add project"
            />
          </form>
        {{else}}
          <p>Sorry, you must be an administrator to add a new project!</p>
        {{/if}}
      {{else}}
        <p>
          Sorry, you must be logged in to add a new project!<br />
          Please go to the
          <a href="/login">login</a>
          page.
        </p>
      {{/if}}
    </div>
  </div>
</div>