* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: content-box;
}

#main {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 96px;
  margin-top: 32px;
  box-sizing: content-box;
  /*border: 3px solid gray;*/
}

#menu {
  background-color: rgb(24, 24, 24);
  height: 60px;
  color: white;
}

#menu a {
  color: white;
  text-decoration: none;
}

.btn {
  height: 0rem;
  padding: 0.75rem 1rem;
  line-height: 0rem;
}
